.main {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

h2 {
  margin: 1rem;
}

section {
  border: 0.2rem solid #bbb;
  border-radius: 11px;
  height: 20rem;
  min-width: 16rem;
}
